header {
  height: 50px;
  width: 100%;
  background-color: var(--bg-header-dark) ;
}

main {
  height: calc(100vh - 80px);
  overflow-y: auto;
  display: flex;
  color: white;
}

main div.sidebar {
  background-color: var(--bg-sidebar-dark) ;
  width: 15%;
  transition: width 0.3s ease;
  &.collapsed {
    width: 0%;
  }
}

main div.content {
  flex-grow: 1;
  background-color: var(--bg-dark) ;
}

main aside {
  width: 60px;
  height: 100%;
  padding-top: 10px;
  background-color: var(--bg-aside-dark) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
  div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.selected::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 120%;
        background-color: var(--bg-blue);
    }
    svg {
      width: 80%;
      height: auto;
      color: var(--font-light);
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}


footer {
  height: 30px;
  width: 100%;
  background-color: var(--bg-blue) ;
  position: fixed;
  bottom: 0;
}
