header {
  height: 50px;
  width: 100%;
  background-color: #3c3c3c ;
}

main {
  height: calc(100vh - 80px);
  background-color: #1e1e1e ;
  overflow-y: auto;
  display: flex;
  color: white;
}

main div.sidebar {
  width: 15%;
  background-color: #252525 ;
}

main div.content {
  flex-grow: 1;
  background-color: #181818 ;
}

main aside {
  width: 80px;
  height: 100%;
  background-color: #2c2c2c ;
  top: 50px;
  left: 0;
}


footer {
  height: 30px;
  width: 100%;
  background-color: #2060df ;
  position: fixed;
  bottom: 0;
}
